.App {
  text-align: center;
}

.movies-search{
  position: absolute;
}

.movie-tab{
  display: flex;
  text-align: center;
}

.movie-name-tab{
  padding: 0.8em;
}

.image-tab{
  height:60px !important;
}