body{
  background-color: #18161b !important;
  background-color: #18161b !important;
}
.App {
  text-align: center;
}


.movies-search{
  position: absolute;
}

.movie-tab{
  
  display: flex;
  text-align: center;
}

.movies-search{
  z-index: 1000; 
  height: 100%;
  /* overflow-y: scroll; */
}

.movie-name-tab{
  padding: 0.8em;
}

*{
  font-family: fangsong !important;
}
.image-tab{
height: 60px;
}
.images{
  width: 100%;
}

.carousel-caption{
  background-color: rgba(24,22,27,0.5);
  padding: 5%;
  border-radius: 5px;
  
}
.carousel-caption  h3, .carousel-caption p {
  color: rgb(244,206,17)  ;
}

.carousel-indicators .active,li {
  background-color: rgb(244,206,17) !important;
}

.sr-only{
  color: rgb(244,206,17) !important;
}