body{
  background-color: #18161b !important;
}
.App {
  text-align: center;
}

.movies-search{
  position: absolute;
}

.movie-tab{
  display: flex;
  text-align: center;
}

.movie-name-tab{
  padding: 0.8em;
}

.images{
  width: 100%;
}

.carousel-caption{
  background-color: rgba(24,22,27,0.5);
  padding: 5%;
  border-radius: 5px;
  
}
.carousel-caption  h3,p {
  color: rgb(244,206,17)  ;
}

.carousel-indicators .active,li {
  background-color: rgb(244,206,17) !important;
}